@import "../../../assets/styles/mixins";

.contact-body {
  width: 70%;
  @include respond-to(smartphone) {
    width: 85%;
  }
  margin-top: 10%;
  margin-left: 5%;
}

h2 {
  border-bottom: 1px solid black;
}

.detail {
  width: 90%;
  margin-top: 5%;
}

.contact-part-first {
  margin-top: 5%;
  @include respond-to(smartphone) {
    margin-top: 15%;
  }
}

.contact-part {
  margin-top: 3%;
  @include respond-to(smartphone) {
    margin-top: 10%;
  }

  textarea {
    border: 1px solid #ccc;
  }
}

.contact-main {
  margin-left: 5%;
}

.contact-button {
  color: #fff;
  border-color: #1a3d66;
  background-color: #214d7f;
  border-radius: 4px;
  font-weight: 700;
  width: 10rem;
  height: 4rem;
}

.contact-button:hover {
  background-color: #0044cc;
  border: solid 1px #0044cc;
}

.disabled {
  color:#ccc;
  border-color:#eee;
  background-color:#eee;
  cursor: not-allowed;
}

.form-part {
  width: 40%;
  @include respond-to(smartphone) {
    width: 60%;
  }
}

.name, .email, .content {
  border: 1px solid #ccc;
}

.content {
  @include respond-to(smartphone) {
    width: 90%;
  }
  @include respond-to(tablet) {
    width: 90%;
  }
}
