@import "mixins";

h2 {
  border-bottom: 1px solid black;
}

.profile-body {
  width: 70%;
  @include respond-to(smartphone) {
    width: 85%;
  }
  text-align: left;
  margin-left: 5%;
  margin-top: 10%;
}

ul {
  margin-left: 5%;
  list-style: none;
  padding-left: 0;
  word-wrap:break-word;
}

.profile-ul {
  margin-left: 5%;

  h4 {
    margin: 0;
    margin-bottom: 0.8rem;
  }

  span {
    margin-left: 3%;
  }

  .kuzugr-icon {
    width: 20rem;
    height: 20rem;
    border-radius: 4px;
  }

  .icon-li {
    margin-bottom: 1rem;
  }

  .li {
    margin-bottom: 2rem;
  }

  .profile-text {
    white-space: pre-wrap;
    margin-left: 3%;
  }
}
