.profile-body {
  width: 70%;
  text-align: left;
  margin-left: 2%;
  margin-top: 10%;
}

ul {
  width: 70%;
  list-style: none;
  padding-left: 0;
  word-wrap:break-word;
}

.profile-ul {
  margin-left: 5%;

  h4 {
    margin: 0;
  }

  span {
    margin-left: 3%;
  }

  .kuzugr-icon {
    width: 15rem;
    height: 15rem;
    border-radius: 4px;
  }

  .icon-li {
    margin-bottom: 1rem;
  }

  .li {
    margin-bottom: 0.7rem;
  }
}
