<div class='profile-body'>
  <h2>プロフィール</h2>
  <ul class='profile-ul'>
    <li class='icon-li'>
      <img class='kuzugr-icon' src="https://s3.ap-northeast-1.amazonaws.com/kuzugr-blog/profile/kuzugr.jpg"><br>
    </li>
    <li class='li'>
      <h4>名前</h4>
      <span>kuzugr</span>
    </li>
    <li class='li'>
      <h4>趣味<br></h4>
      <span>ギター/ロック/ゲーム</span>
    </li>
    <li class='li'>
      <h4>使用言語<br></h4>
      <span>ruby/html/css/js/angular/bashなど</span>
    </li>
    <li>
      <h4>一言<br></h4>
      <span>
        Web業界でサーバエンジニアとして働いています。まだまだ若輩者。ロックが好きです。
      </span>
    </li>
  </ul>
</div>