.sidebar-body {
  display: inline-block;
  width: 800%;
  text-align: left;
  margin-left: 5%;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
  }
}

.profile {

}

.kuzugr-icon {
  width: 30%;
  height: 50%;
}