<div class='sidebar-body'>
  <h3 class='profile'>
    プロフィール
  </h3>
  <ul class='profile-ul'>
    <li class='icon-li'>
        <span>kuzugr</span>
      <img class='kuzugr-icon' src="/assets/images/kuzugr.jpg">
    </li>
    <li class='li'>
      <h4>趣味<br></h4>
      <span>ギター/ゲーム/プログラミング学習</span>
    </li>
    <li class='li'>
      <h4>使用言語<br></h4>
      <span>ruby/bash/html/css/js/angular/python(初心者)/Java(忘れ気味)</span>
    </li>
    <li>
      <h4>一言<br></h4>
      <span>フロント弱いですが、最近はAngular勉強してます。このブログもAngularの練習のために作りましたw</span>
    </li>
  </ul>

</div>