.sidebar-body {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-left: 5%;

  ul {
    list-style: none;
    padding-left: 0;
    word-wrap:break-word;
  }

  li {
  }
}

.profile {

}

.profile-ul {
  text-align: center;
}

.icon-li {
  margin-bottom: 2rem;
}

.li {
  margin-bottom: 1rem;
}

.kuzugr-icon {
  width: 60%;
  height: 70%;
}