body {
  background-color: #ffffff;
  color: #333333;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

.form-errors {
  margin-top: 5px;
  position: relative;
  padding: 5px;
  color: #fff;
  background: #e54545;
  border-radius: 4px;
}

.click-util {
  cursor: pointer;
  outline:none;
}
