@import '../../../assets/styles/mixins';

.menu-body {
  background-color: white;
  color: gray;
  margin-left: 1%;
  position: fixed;
  font-weight: bold;
  opacity: 0.9;
  width: 100%;
  height: 5%;
  top: 0;
}

.menu-inner-body {
  margin-top: 1%;
  background-color: white;
}

.search-block {
  display: inline-block;
  text-align: left;
  width: 64%;

  .fa-search {
    margin-right: 1%;
  }

  @include respond-to(smartphone) {
    width: 100%;
    display: block;
  }
}

.search-input {
  border-style: none;
  width: 80%;

  @include respond-to(smartphone) {
    width: 60%;
  }
}

.menu-block {
  @include respond-to(smartphone) {
    display: block;
    margin-top: 2%;
  }
}

.menu-item {
  margin-right: 2%;

  @include respond-to(smartphone) {
    margin-top: 10%;
    margin-right: 2.7%;
  }
}

.click-util:hover {
  color: #0088c7;
}

.search-input:hover {
  border-bottom: solid 1px;
  border-color: gray;
  color: gray;
}
