.menu-block {
  width: 100%;
  font-weight: bold;
  margin: auto;
  display: flex;
  background-color: white;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 999;
  opacity: 0.6;
}

.blog-menu, .profile-menu, .contact-menu {
  cursor: pointer;
}
