.latest-article-img-block {
  text-align: center;
  position: relative;
}

.latest-article-img {
  width: 100%;
  height: 40rem;
  opacity: 0.3;
}

.article-detail-block {
  position: absolute;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  top: 40%;
  left: 50%;
}

.article-title {
  color: cornflowerblue;
  white-space: nowrap;
  font-weight: bold;
  font-size: 2rem;
}

.article-page-button {
  font-size: 1.5rem;
  color: cornflowerblue;
  background: transparent;
  border: solid 1px cornflowerblue;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.article-page-button:hover {
  color: #fff;
  background-color: #0044cc;
  border: solid 1px #0044cc;
}
