@import "mixins";

.search-article-body {
  margin-left: 5%;
  margin-top: 5%;
}

table {
  border-collapse: separate;
  border-spacing: 2rem 2rem;
  @include respond-to(smartphone) {
    border-spacing: 1rem 1rem;
  }
}

.date {
  margin-top: 2rem;
}

img{
  width: 10rem;
  height: 10rem;
  @include respond-to(smartphone) {
    width: 7rem;
    height: 7rem;
  }
}

.click-util {
  border: solid 2px #999999;
  width: 60rem;
  @include respond-to(smartphone) {
    width: 27rem;
  }
}

.click-util:hover {
  color: #0088c7;
  border: solid 1px #0088c7;
}
