.search-article-body {
  margin-left: 5%;
  margin-top: 5%;
}

table {
  border-collapse: separate;
  border-spacing: 2rem 2rem;
}

.date {
  margin-top: 2rem;
}

img{
  width: 10rem;
  height: 10rem
}

.click-util {
  border: solid 2px #999999;
  width: 60rem;
}

.click-util:hover {
  color: #0088c7;
  border: solid 1px #0088c7;
}
