@import '../../../../assets/styles/mixins';

.search-article-body {
  margin-left: 5%;
  margin-top: 5%;
}

table {
  border-collapse: separate;
  border-spacing: 2rem 2rem;

  @include respond-to(smartphone) {
    border-spacing: 1rem 1rem;
  }
}

.category {
  color: gray;
}

.date {
  margin-top: 2rem;
  color: gray;
}

.image-td {
  vertical-align: bottom;
}

img {
  width: 10rem;
  height: 10rem;

  @include respond-to(smartphone) {
    width: 7rem;
    height: 7rem;
  }
}

.click-util {
  border: solid 1px #eaecee;
  width: 60rem;

  @include respond-to(tablet) {
    width: 40rem;
  }

  @include respond-to(smartphone) {
    width: 27rem;
  }
}

.article-title:hover {
  color: #0088c7;
}
