.header-block {
  display: inline-block;
}

.title-block {
  display: inline-block;
  text-align: center;
}

.account-block {
  display: inline-block;
  text-align: right;

  span {
    margin-right: 1rem;
  }
}
