.header-block {
  width: 100%;
  display: flex;
  margin-bottom: 3%;
}

.title-block {
  width: 20%;
  text-align: left;
  margin-left: 3%;
  margin-right: 55%;
}

.account-block {
  width: 20%;
  text-align: right;
  position: relative;

  span {
    margin-right: 10%;
    position: absolute;
  }
}
