.header-block {
  width: 100%;
  margin-bottom: 5%;
}

.title-block {
  display: inline-block;
  width: 77%;
  text-align: left;
  margin-left: 3%;
}

.account-block {
  display: inline-block;
  width: 20%;
  text-align: right;

  span {
    margin-right: 1rem;
  }
}
