.header-block {
  width: 100%;
  display: flex;
  margin-bottom: 3%;
}

.title-block {
  width: 20%;
  text-align: left;
  margin-left: 3%;
  margin-right: 55%;

  h1 {
    outline: none;
  }
}

.account-block {
  width: 20%;
  text-align: right;

  span {
    outline: none;
    margin-right: 10%;
    min-height: 100%;
    display: inline-flex;
    align-items: center;
  }
}
