.privacy-policy-head {
  width: 85%;
  margin-left: 5%;
}

.title {
  border-bottom: solid 1px black;
}

.privacy-policy-body {
  margin-left: 3%;
}

.description {
  margin-left: 2%;
  margin-bottom: 5%;
}
