@import '../assets/styles/mixins';

.main-body {
  width: 100%;
  display: flex;

  @include respond-to(smartphone) {
    display: block;
  }

  margin-bottom: 10%;
}

.app-sidebar {
  width: 22%;

  @include respond-to(smartphonen) {
    width: 100%;
  }

  @include respond-to(tablet) {
    width: 35%;
  }
}

.app-layout {
  width: 78%;

  @include respond-to(smartphone) {
    width: 100%;
  }

  @include respond-to(tablet) {
    width: 65%;
  }
}
