.article-body {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
}

.title {
  text-align: left;
  margin-bottom: 3%;
}

.date {
  text-align: right;
}

.content {
  text-align: center;
}

.form-block {
  margin: 0 auto;
  width: 80%;

  ul li {
    text-align: left;
    list-style: none;
  }

  label {
    margin-right: 5%;
    width: 20%;
    float: left;
  }

  .password-li {
    margin-bottom: 3%;
  }
  .login-btn-li {
    margin-right: 40%;
    float: right;
  }
}
