<div class='login-body'>
    <h2 class='title'>ログイン</h2>
    <div class='form-block'>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ul>
          <li>
            <label>メールアドレス</label>
            <input type="email" formControlName="email">
          </li>
          <li class='password-li'>
            <label>パスワード</label>
            <input type="password" formControlName="password">
          </li>
          <li class='login-btn-li'>
            <button class='login-btn fa' type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i> ログイン
            </button>
          </li>
        </ul>
      </form>
    </div>
  </div>