@import '../../../assets/styles/mixins';

.article-body {
  width: 85%;
  margin-left: 5%;
}

.title {
  text-align: left;
  margin-bottom: 3%;

  @include respond-to(smartphone) {
    margin-bottom: 7%;
  }
}

.article-element {
  text-align: right;
  margin-right: 2%;
}

.category {
  margin-bottom: 5%;
}

.content {
  margin-left: 5%;
  margin-bottom: 8%;
  text-align: left;
  font-size: 16px;
}

/deep/ .content {
  img {
    max-width: 95%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
  }
}

.button-list {
  text-align: right;
  margin-right: 2%;
  margin-bottom: 2%;
}

.edit-btn {
  color: #fff;
  border-color: #1a3d66;
  background-color: #214d7f;
  border-radius: 4px;
  font-weight: 700;
  width: 5rem;
  height: 3rem;
  margin-right: 2%;
}

.edit-btn:hover {
  background-color: #0044cc;
  border: solid 1px #0044cc;
}

.publish-btn {
  color: #fff;
  border-color: #d24d4d;
  background-color: #d24d4d;
  border-radius: 4px;
  font-weight: 700;
  width: 10rem;
  height: 3rem;
  margin-bottom: 2%;
  margin-right: 2%;
}

.publish-btn:hover {
  background-color: red;
  border: solid 1px red;
}

.tweet-btn {
  color: #fff;
  border-color: #1a3d66;
  background-color: #214d7f;
  border-radius: 4px;
  font-weight: 700;
  width: 6rem;
  height: 3rem;
}

.tweet-btn:hover {
  background-color: #0044cc;
  border: solid 1px #0044cc;
}

.disabled {
  color: #ccc;
  border-color: #eee;
  background-color: #eee;
  cursor: not-allowed;
}

.change-article {
  max-width: 45%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #337ab7;
}

.change-article:hover {
  color: #0088c7;
  border-bottom: solid 1px #0088c7;
}

.next-article {
  text-align: right;
  float: right;
}

.previous-artcile {
  margin-left: 5%;
}
