.article-body {
  display: inline-block;
  width: 70%;
  margin-left: 5%;
}

.title {
  text-align: left;
  margin-bottom: 3%;
}

.article-element {
  text-align: right;
  margin-right: 2%;
}

.category {
  margin-bottom: 5%;
}

.content {
  margin-left: 5%;
  text-align: left;
}

/deep/ .content {
  img {
      max-width: 95%;
      height: auto;
      overflow: hidden;
      margin-bottom: 30px;
  }
}
