<div *ngIf="articleLoaded">
  <div class='article-body'>
    <h2 class='title'>{{article.title}}</h2>
    <div>
      <div *ngIf="loginState" class='article-element'>
        <button class='click-util edit-btn' routerLink="/article/{{article.id}}/edit">編集</button>
        <div>
          <button class='click-util publish-btn' (click)="changePublishStatus(article.id)">
            {{article.published ? '非公開にする' : '公開する' }}
          </button>
        </div>
      </div>
      <div class='article-element'>
        <span>投稿日時: {{article.created_at | date:"yyyy/MM/dd HH:mm" : '+0000'}}</span>
      </div>
      <div class='article-element category' *ngIf="article.category">
        <span>{{article.category}}</span>
      </div>
      <div class='content' [innerHTML]='article.html_content | safeHtml'></div>
    </div>
  </div>
  <app-comment [articleId]="article.id"
               [comments]="article.comments">
  </app-comment>
</div>