<div *ngIf="articleLoaded; else loading">
  <div class='article-body'>
    <h2 class='title'>{{article.title}}</h2>
    <div>
      <div *ngIf="loginState" class='article-element'>
        <button class='click-util edit-btn' routerLink="/article/{{article.id}}/edit">編集</button>
        <div>
          <button class='click-util publish-btn' (click)="changePublishStatus(article.id)">
            {{article.published ? '非公開にする' : '公開する' }}
          </button>
        </div>
      </div>
      <div class='article-element'>
        <span>投稿日時: {{article.created_at | date:"yyyy/MM/dd HH:mm" : '+0000'}}</span>
      </div>
      <div class='article-element category' *ngIf="article.category">
        <span>{{article.category}}</span>
      </div>
      <div class='content' [innerHTML]='article.html_content | safeHtml'></div>
      <span *ngIf="article.previous_id" routerLink="/article/{{article.previous_id}}"
        class='change-article previous-artcile click-util' fragment='top'>
        <i class="fa fa-angle-double-left"></i> {{article.previous_title}}
      </span>
      <span *ngIf="article.next_id" routerLink="/article/{{article.next_id}}"
        class='change-article next-article click-util' fragment='top'>
        {{article.next_title}} <i class="fa fa-angle-double-right"></i>
      </span>
    </div>
  </div>
  <app-comment [articleId]="article.id" [comments]="article.comments">
  </app-comment>
</div>
<ng-template #loading>
  <div class='loading'></div>
</ng-template>
