.login-body {
  width: 90%;
  text-align: left;
  margin-left: 5%;
}

.form-block {
  margin-left: 3%;

  ul li {
    list-style: none;
  }

  label {
    margin-right: 5%;
    width: 10%;
    float: left;
  }

  .login-btn {
    width: 10%;
    float: right;
  }
}
