.login-body {
  margin-left: 5%;
}

.title {
  text-align: left;
  margin-bottom: 3%;
}

.form-block {
  text-align: center;
  margin-left: 3%;

  ul li {
    list-style: none;
  }

  label {
    margin-right: 1%;
    width: 20%;
    float: left;
  }

  .password-li {
    margin-bottom: 3%;
  }
  .login-btn-li {
    margin-right: 5%;
    float: right;
  }
}
