@import '../../../../assets/styles/mixins';

.advertisement-body {
  margin-top: 15%;

  @include respond-to(smartphone) {
    width: 100%;
    margin-left: 7%;
  }
}

.advertisement {
  margin-top: 10%;
  width: 65%;
  text-align: center;
}
