h3 {
  border-bottom: solid 1px;
}

.comment-body {
  margin-top: 15%;
  width: 85%;
  margin-left: 9%;
}

.comment-list {
  margin-left: 2%;
}

.comment-part-first{
  margin-top: 8%;
}

.comment-part {
  margin-top: 2%;

  textarea {
    border: 1px solid #ccc;
  }
}

.comment-name {
  width: 25%;
}

.comment-button {
  color: #fff;
  border-color: #1a3d66;
  background-color: #214d7f;
  border-radius: 4px;
  font-weight: 700;
  width: 10rem;
  height: 4rem;
}

.comment-button:hover {
  background-color: #0044cc;
  border: solid 1px #0044cc;
}

.disabled {
  color:#ccc;
  border-color:#eee;
  background-color:#eee;
  cursor: not-allowed;
}

.commented-content{
  margin-top: 0.5%;
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
  white-space: pre-wrap;
}

.commented-name {
  font-weight: bold;
}

.comented-date {
  float: right;
  margin-right: 10%;
}

.commented-div {
  margin-top: 2.5%;
}
