<div class='monthly-archive'>
  <h4>月別アーカイブ</h4>
  <div class='dates'>
    <div class="year" *ngFor="let archive of archives">
      <p class='click-util' (click)="onAccordion(archive['year'])">
        <i [ngClass]="showDetail ? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i>
        &nbsp;{{ archive['year'] }}（{{ archive['count'] }}）
      </p>
      <ng-container *ngIf="showDetail == archive['year']">
        <div class='months' [@accordion] *ngFor="let month of archive['monthly_archives']">
          <p class='click-util' [routerLink]="['/search']" [queryParams]="{ date: month['month'] }" fragment="top">
            {{month['month']}}（{{month['count']}}）
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
