<div class='create-article-body'>
  <h2 class='title'>新規投稿</h2>
  <div class='form-block'>
    <form [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="onSubmit()" *ngIf="dataLoaded()">
      <div>
        <div class='label-div'>
          <label>タイトル</label>
        </div>
        <div class='form-control'>
          <input class='title' type="text" formControlName="title">
        </div>
      </div>
      <div id='form-input'>
        <div formArrayName="articleElements">
          <div *ngFor="let articleElement of articleElements.controls; let i = index" [formGroupName]="i">
            <div class='label-div'>
              <label>本文{{i + 1}}</label>
            </div>
            <div class='form-control'>
              <textarea class='content' rows=30 formControlName="content"></textarea>
            </div>
            <image-upload
                        url="http://kuzugr-blog.jp:3000/api/v1/articles/upload_thumbnail"
                        buttonCaption="PRESS ME AAAAAAAAAH"
                        dropBoxMessage="DROP ON ME AAAAAAAAAH"
                        clearButtonCaption="CLEAR ME AAAAAAAAAH">
                      </image-upload>
            <div class='form-control'>
              <input type=file id='thumbnail' #fileInput multiple="true" name='thumbnail' class='thumbnail' formControlName='thumbnail'>
            </div>
            <img [src]="uploadResult?.downloadURL || ''">
          </div>
        </div>

      </div>
      <button class='create-btn fa' type="button" (click)='addFormElement()'>入力欄追加</button>
      <button class='create-btn fa' type="submit">
        <i class="fa fa-sign-in" aria-hidden="true"></i>投稿
      </button>
    </form>
  </div>
</div>