.create-article-body {
  display: inline-block;
  width: 95%;
  margin-left: 5%;
}

.form-block {
  margin: 0 auto;
  width: 80%;

  .form-parts {
    text-align: center;
    margin-right: 40%;
    margin-bottom: 5%;
  }

  .form-parts-content {
    width: 90%;
  }

  .create-btn {
    float: right;
    color: #fff;
    border-color: #1a3d66;
    background-color: #214d7f;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    width: 95px;
    height: 30px;
  }

  .title {
    width: 150%;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }

  label {
    font-weight: 700;
  }

  .title {
    height: 2rem;
    border-radius: 4px;
  }

  .label-div {
    margin-bottom: 3%;
  }
}
